/* Bubble-like animation */
@keyframes bubbleAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.home__container {
    position: relative;
    overflow: hidden;
}

.home__title {
    position: relative;
    animation: bubbleAnimation 2s infinite; /* Customize the animation duration as needed */
}

/* Optional: Style the bubbles */
.home__title::before,
.home__title::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:#c51818; /* Customize bubble color */
    border-radius: 50%;
    opacity: 0.1;
}