{% load static %}
<!--===== ABOUT =====-->
<section class="about section" id="about">
    <h2 class="section-title">About</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="{% static 'assets/img/perfil.png' %}" alt="">
        </div>

        <div>
            <h2 class="about__subtitle">Hello ndeleche here ! </h2>
            <span class="about__profession">Software developer</span>
            <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci consectetur, architecto quas fugiat, iste inventore facere repellendus delectus id, vitae blanditiis.</p>

            <div class="about__social">
                <a href="#" class="about__social-icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="#" class="about__social-icon"><i class='bx bxl-github' ></i></a>
                <a href="#" class="about__social-icon"><i class='bx bxl-dribbble' ></i></a>
            </div>
        </div>
    </div>
</section>
