{% load static %}

<center>
    <div class="">
        <div class="row">
            <div class="col-md-6">
                <center>
                    <h2>Download CV</h2>
                    <p>Click the button below to download the CV in PDF format.</p>
                </center>
            </div>
            <div class="col-md-6">
                <!-- Add a download link for your PDF file -->
                <a href="path/to/your-cv.pdf" class="button">
                    <span style="vertical-align:middle">Download</span>
                </a>
            </div>
        </div>
    </div>
</center>
